.filmsItem {
   display: block;
   background: white;
   font-size: 13px;
   width: 180px;
   color: #333333;
   margin: 0px 55px 20px 0px;
   

   img {
      width: 180px;
      height: 260px;
      border-radius: 20px;
      filter: drop-shadow(0px 5px 25px rgba(119, 119, 119, 0.08));
      }
   .nameItem {
      font-size: 15px;
      font-weight: 600;
      text-align: start;
      margin: 20px 0px 25px 0px;
   }
   .summary {
      font-size: 13px;
      font-weight: 400;
      text-align: start;
   }
   .filmsdesc {
      margin: 10px 0px 22px 0px;
   }
}
