.filmsList{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: white;
    border-radius: 20px;
    padding: 40px 35px 40px 90px;
    transition: all 0.8s ease;
  

}